.chat-container{
    display: flex;
    flex-direction: column;
    
 }
.chat-head{
    display: flex;
    background:hsl(56, 100%, 64%);
    flex: 1; 
}
.chat-head-head{
width: 70px;
}
.chat-head-head img{
width: 60px;
text-align: center;
margin-top: 5px;
padding: 0;
display: block;
}   
.chat-head-head-below{
    margin-top: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
    }
.chat-head-head-below img{ 
    width: 50px;
}   
.chat-head-body{
    flex: 8;
    margin: 1px;}
    .chat-head-body p{
        flex: .5;
       font-style: italic;
          font-size:17px;
          margin-left: 20px;  
    }
.chat-head-foot{
    flex: 1;
    margin: 1px;
}
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.chat-body{
    flex: 8;
    display: flex;
    flex-direction: column;
}
.chat-body-left{
    flex:1;
    display: flex;
  
}
.chat-body-right{
    flex:1;
    display: flex;
 }

.chat-body  .left{
    order:2;
    padding: 10px;
    padding-left: 30px;
    border-radius:10px;; 
    width: 70vw;
    margin: 10px;
    background: rgba(252, 69, 69, 0.897);
}

.chat-body .right{
    margin-left: auto;
    background-color: #09bfc5;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 70vw;
    padding: 10px;
    padding-right: 30px;
    border-radius:10px;; 
    text-align: right;
    }
/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */
.last{
    flex: 2;
    height: 10vh;;
}
.avatar-left{
    order: 1;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar-right{
    width: 50px;
    height: 50px;
    border-radius: 50%;   
}